 ## Exploring e-bay sales data
In this project we will work with the used car data scrapped from ebay calssified section
the data is taken from here - 
https://www.kaggle.com/orgesleka/used-cars-database/data

This is a simple data exploration projects utilising following features -
1) Importing data into pandas library
2) Finding, immputing/dropping bad data
3) Finding means and averages with grouped data
4) observing some basic trends in data

## keywords
pandas dataframe, pandas series, numpy library, dictionaries

In [334]:
import pandas as pd
import numpy as np

In [335]:
autos = pd.read_csv("/Users/Suha/used-cars-database 2/autos.csv", encoding = 'Latin-1')
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
5,2016-04-04 17:36:23,BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...,privat,Angebot,650,test,limousine,1995,manuell,102,3er,150000,10,benzin,bmw,ja,2016-04-04 00:00:00,0,33775,2016-04-06 19:17:07
6,2016-04-01 20:48:51,Peugeot_206_CC_110_Platinum,privat,Angebot,2200,test,cabrio,2004,manuell,109,2_reihe,150000,8,benzin,peugeot,nein,2016-04-01 00:00:00,0,67112,2016-04-05 18:18:39
7,2016-03-21 18:54:38,VW_Derby_Bj_80__Scheunenfund,privat,Angebot,0,test,limousine,1980,manuell,50,andere,40000,7,benzin,volkswagen,nein,2016-03-21 00:00:00,0,19348,2016-03-25 16:47:58
8,2016-04-04 23:42:13,Ford_C___Max_Titanium_1_0_L_EcoBoost,privat,Angebot,14500,control,bus,2014,manuell,125,c_max,30000,8,benzin,ford,NaN,2016-04-04 00:00:00,0,94505,2016-04-04 23:42:13
9,2016-03-17 10:53:50,VW_Golf_4_5_tuerig_zu_verkaufen_mit_Anhaengerk...,privat,Angebot,999,test,kleinwagen,1998,manuell,101,golf,150000,0,NaN,volkswagen,NaN,2016-03-17 00:00:00,0,27472,2016-03-31 17:17:06
10,2016-03-26 19:54:18,Mazda_3_1.6_Sport,privat,Angebot,2000,control,limousine,2004,manuell,105,3_reihe,150000,12,benzin,mazda,nein,2016-03-26 00:00:00,0,96224,2016-04-06 10:45:34
11,2016-04-07 10:06:22,Volkswagen_Passat_Variant_2.0_TDI_Comfortline,privat,Angebot,2799,control,kombi,2005,manuell,140,passat,150000,12,diesel,volkswagen,ja,2016-04-07 00:00:00,0,57290,2016-04-07 10:25:17
12,2016-03-15 22:49:09,"VW_Passat_Facelift_35i__""7Sitzer""",privat,Angebot,999,control,kombi,1995,manuell,115,passat,150000,11,benzin,volkswagen,NaN,2016-03-15 00:00:00,0,37269,2016-04-01 13:16:16
13,2016-03-21 21:37:40,VW_PASSAT_1.9_TDI_131_PS_LEDER,privat,Angebot,2500,control,kombi,2004,manuell,131,passat,150000,2,NaN,volkswagen,nein,2016-03-21 00:00:00,0,90762,2016-03-23 02:50:54
14,2016-03-21 12:57:01,Nissan_Navara_2.5DPF_SE4x4_Klima_Sitzheizg_Blu...,privat,Angebot,17999,control,suv,2011,manuell,190,navara,70000,3,diesel,nissan,nein,2016-03-21 00:00:00,0,4177,2016-04-06 07:45:42
15,2016-03-11 21:39:15,KA_Lufthansa_Edition_450Â€_VB,privat,Angebot,450,test,kleinwagen,1910,NaN,0,ka,5000,0,benzin,ford,NaN,2016-03-11 00:00:00,0,24148,2016-03-19 08:46:47
16,2016-04-01 12:46:46,Polo_6n_1_4,privat,Angebot,300,test,NaN,2016,NaN,60,polo,150000,0,benzin,volkswagen,NaN,2016-04-01 00:00:00,0,38871,2016-04-01 12:46:46
17,2016-03-20 10:25:19,Renault_Twingo_1.2_16V_Aut.,privat,Angebot,1750,control,kleinwagen,2004,automatik,75,twingo,150000,2,benzin,renault,nein,2016-03-20 00:00:00,0,65599,2016-04-06 13:16:07
18,2016-03-23 15:48:05,Ford_C_MAX_2.0_TDCi_DPF_Titanium,privat,Angebot,7550,test,bus,2007,manuell,136,c_max,150000,6,diesel,ford,nein,2016-03-23 00:00:00,0,88361,2016-04-05 18:45:11
19,2016-04-01 22:55:47,Mercedes_Benz_A_160_Classic_Klima,privat,Angebot,1850,test,bus,2004,manuell,102,a_klasse,150000,1,benzin,mercedes_benz,nein,2016-04-01 00:00:00,0,49565,2016-04-05 22:46:05
20,2016-04-01 19:56:48,Volkswagen_Scirocco_1.4_TSI_Sport,privat,Angebot,10400,control,coupe,2009,manuell,160,scirocco,100000,4,benzin,volkswagen,nein,2016-04-01 00:00:00,0,75365,2016-04-05 16:45:49
21,2016-03-27 11:38:00,BMW_530i_TÃœV_7/17_Scheckheftgepflegt_sehr_gute...,privat,Angebot,3699,test,limousine,2002,automatik,231,5er,150000,7,benzin,bmw,nein,2016-03-27 00:00:00,0,68309,2016-04-07 06:44:26
22,2016-03-23 14:52:51,Opel_Meriva_1.Hand_TÃœV_3.2018,privat,Angebot,2900,test,NaN,2018,manuell,90,meriva,150000,5,benzin,opel,nein,2016-03-23 00:00:00,0,49716,2016-03-31 01:16:33
23,2016-03-12 19:43:07,Stadtflitzer,privat,Angebot,450,test,kleinwagen,1997,manuell,50,arosa,150000,5,benzin,seat,nein,2016-03-12 00:00:00,0,9526,2016-03-21 01:46:11
24,2016-03-13 20:40:49,MERCEDES_200E__TÃœV_04/2016,privat,Angebot,500,test,limousine,1990,manuell,118,andere,150000,10,benzin,mercedes_benz,ja,2016-03-13 00:00:00,0,35390,2016-03-13 20:40:49
25,2016-03-18 21:44:09,BMW_530d_touring_Vollausstattung_NAVI,privat,Angebot,2500,control,kombi,2002,automatik,193,5er,150000,9,diesel,bmw,ja,2016-03-18 00:00:00,0,73765,2016-03-18 21:44:09
26,2016-03-10 19:38:18,Citroen_C4_Grand_Picasso.,privat,Angebot,5555,control,NaN,2017,manuell,125,c4,125000,4,NaN,citroen,nein,2016-03-10 00:00:00,0,31139,2016-03-16 09:16:46
27,2016-03-07 12:51:23,Honda_Civic_1.4_i_VTEC_Comfort,privat,Angebot,6900,test,limousine,2008,manuell,99,civic,60000,11,benzin,honda,nein,2016-03-07 00:00:00,0,12621,2016-03-26 09:44:53
28,2016-03-09 11:56:38,Volkswagen_T3_andere,privat,Angebot,1990,test,bus,1981,manuell,50,transporter,5000,1,benzin,volkswagen,nein,2016-03-09 00:00:00,0,87471,2016-03-10 07:44:33
29,2016-03-08 19:55:19,Fiat_Punto_1.2,privat,Angebot,690,test,kleinwagen,2003,manuell,60,punto,150000,3,benzin,fiat,nein,2016-03-08 00:00:00,0,86199,2016-03-09 11:45:28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371498,2016-03-11 15:50:38,Opel_Vectra_Edition_100,privat,Angebot,699,control,limousine,1999,manuell,101,vectra,150000,3,benzin,opel,NaN,2016-03-11 00:00:00,0,65936,2016-03-17 12:44:29
371499,2016-03-08 13:52:00,OPEL_CORSA_B__ECO_SWING__TÃœV_1/17_8fach_Bereif...,privat,Angebot,600,control,kleinwagen,1998,manuell,54,corsa,150000,1,benzin,opel,nein,2016-03-08 00:00:00,0,24850,2016-03-13 00:16:40
371500,2016-03-21 23:40:49,Volkswagen_Golf_1.4_TSI_BlueMotion_Technology_...,privat,Angebot,20400,test,limousine,2014,automatik,150,golf,30000,9,benzin,volkswagen,nein,2016-03-21 00:00:00,0,38470,2016-04-07 04:17:32
371501,2016-03-26 18:36:54,Chrysler_Voyager,privat,Angebot,3900,test,bus,2003,automatik,174,voyager,150000,7,benzin,chrysler,nein,2016-03-26 00:00:00,0,34320,2016-04-06 09:16:04
371502,2016-04-01 12:59:21,Audi_A4_Avant_1.8,privat,Angebot,1600,test,kombi,1998,manuell,125,a4,150000,2,benzin,audi,nein,2016-04-01 00:00:00,0,34414,2016-04-07 09:44:29
371503,2016-04-01 01:55:58,Subaru_Justy_1.3,privat,Angebot,1700,control,kleinwagen,1999,manuell,68,justy,70000,11,benzin,subaru,nein,2016-03-31 00:00:00,0,90439,2016-04-07 04:16:26
371504,2016-03-07 17:06:35,220_cdi_Benz,privat,Angebot,2600,control,NaN,2005,automatik,0,c_klasse,150000,9,NaN,mercedes_benz,NaN,2016-03-07 00:00:00,0,61169,2016-03-08 21:28:38
371505,2016-04-03 19:56:57,Opel_Astra_1.6_Caravan_Selection,privat,Angebot,800,test,kombi,2000,manuell,101,astra,150000,11,benzin,opel,ja,2016-04-03 00:00:00,0,58730,2016-04-05 20:45:39
371506,2016-03-20 18:47:59,Volkswagen_Golf_1.9_TDI_DPF_Goal_Rentnerfzg._1...,privat,Angebot,5900,test,limousine,2006,manuell,105,golf,150000,9,diesel,volkswagen,nein,2016-03-20 00:00:00,0,1217,2016-04-07 02:44:27
371507,2016-03-16 17:06:19,Gepflegter_Audi_a4_2.0tdi_xenon_ahk_klima_sche...,privat,Angebot,5999,test,kombi,2005,manuell,140,a4,150000,4,diesel,audi,NaN,2016-03-16 00:00:00,0,56472,2016-03-18 11:30:17
371508,2016-04-02 16:43:27,Opel_Astra_1.8,privat,Angebot,1400,control,limousine,2001,manuell,125,astra,150000,2,benzin,opel,nein,2016-04-02 00:00:00,0,23820,2016-04-06 15:18:04
371509,2016-03-11 23:40:32,LT_35_DIESEL_Gruene_Plakette....letzte_Gelegen...,privat,Angebot,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein,2016-03-11 00:00:00,0,87700,2016-03-12 14:16:51
371510,2016-03-06 21:11:23,Mercedes_benz_e_klasse_avangarde_220_cdi_grune...,privat,Angebot,6500,test,limousine,2003,automatik,145,e_klasse,150000,3,diesel,mercedes_benz,nein,2016-03-05 00:00:00,0,60437,2016-03-12 12:18:05
371511,2016-03-31 18:50:37,Audi_A3_1.8_T_Attraction,privat,Angebot,1999,control,limousine,1997,manuell,150,a3,150000,12,benzin,audi,nein,2016-03-31 00:00:00,0,4275,2016-04-06 12:46:41
371512,2016-03-25 18:48:06,Mercedes_Benz_E_400_CDI_Avantgarde,privat,Angebot,5000,test,limousine,2003,automatik,260,e_klasse,150000,12,diesel,mercedes_benz,ja,2016-03-25 00:00:00,0,90473,2016-04-07 00:44:51
371513,2016-03-21 15:36:22,Seat_Leon_1.9_TDI_4/5_Tueren,privat,Angebot,4400,control,limousine,2008,manuell,105,leon,150000,7,diesel,seat,nein,2016-03-21 00:00:00,0,45896,2016-04-06 15:45:01
371514,2016-04-04 11:45:16,Renault_1_4_ltr.16_V_Megane_Cabrio,privat,Angebot,999,control,cabrio,2000,manuell,95,megane,150000,4,benzin,renault,NaN,2016-04-04 00:00:00,0,88477,2016-04-06 12:44:52
371515,2016-03-09 11:36:55,Skoda_Fabia_Kombi_1.4,privat,Angebot,1690,test,kombi,2004,manuell,55,fabia,150000,4,benzin,skoda,NaN,2016-03-09 00:00:00,0,18246,2016-04-04 08:15:30
371516,2016-04-04 09:57:12,Volkswagen_Lupo_1.0,privat,Angebot,1490,control,kleinwagen,1998,manuell,50,lupo,150000,9,benzin,volkswagen,nein,2016-04-04 00:00:00,0,48653,2016-04-06 11:17:13
371517,2016-03-28 13:48:07,Volkswagen_Golf_2.0_TDI_DPF_Team,privat,Angebot,7900,test,limousine,2010,manuell,140,golf,150000,7,diesel,volkswagen,nein,2016-03-28 00:00:00,0,75223,2016-04-02 18:16:20
371518,2016-04-02 20:37:03,Bmw_320_D_DPF_Touring_!!!,privat,Angebot,3999,test,kombi,2005,manuell,3,3er,150000,5,diesel,bmw,nein,2016-04-02 00:00:00,0,81825,2016-04-06 20:47:12
371519,2016-03-09 13:37:43,Alfa_Romeo_159_Jtdm_1.9_150_ps_13_600_km_top_voll,privat,Angebot,5250,control,NaN,2016,automatik,150,159,150000,12,NaN,alfa_romeo,nein,2016-03-09 00:00:00,0,51371,2016-03-13 01:44:13
371520,2016-03-19 19:53:49,turbo_defekt,privat,Angebot,3200,control,limousine,2004,manuell,225,leon,150000,5,benzin,seat,ja,2016-03-19 00:00:00,0,96465,2016-03-19 20:44:43
371521,2016-03-27 20:36:20,Opel_Zafira_1.6_Elegance_TÃœV_12/16,privat,Angebot,1150,control,bus,2000,manuell,0,zafira,150000,3,benzin,opel,nein,2016-03-27 00:00:00,0,26624,2016-03-29 10:17:23
371522,2016-03-21 09:50:58,Mitsubishi_Cold,privat,Angebot,0,control,NaN,2005,manuell,0,colt,150000,7,benzin,mitsubishi,ja,2016-03-21 00:00:00,0,2694,2016-03-21 10:42:49
371523,2016-03-14 17:48:27,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
371524,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
371525,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
371526,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

In [336]:
autos.info()
autos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 20 columns):
dateCrawled            371528 non-null object
name                   371528 non-null object
seller                 371528 non-null object
offerType              371528 non-null object
price                  371528 non-null int64
abtest                 371528 non-null object
vehicleType            333659 non-null object
yearOfRegistration     371528 non-null int64
gearbox                351319 non-null object
powerPS                371528 non-null int64
model                  351044 non-null object
kilometer              371528 non-null int64
monthOfRegistration    371528 non-null int64
fuelType               338142 non-null object
brand                  371528 non-null object
notRepairedDamage      299468 non-null object
dateCreated            371528 non-null object
nrOfPictures           371528 non-null int64
postalCode             371528 non-null int64
lastSeen               371528 non-null object
dtypes: int64(7), object(13)
memory usage: 56.7+ MB

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

Few of then are integer, the rest of the integer values may also have strings
let us go ahead and look at the column names

In [337]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'kilometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

Looks like many columns names are in snakecase. We will go ahead and convert them into pythong standard i.e.camelcase

In [338]:
new_columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_PS', 'model',
       'kilometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen']
autos.columns = new_columns
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 20 columns):
date_crawled          371528 non-null object
name                  371528 non-null object
seller                371528 non-null object
offer_type            371528 non-null object
price                 371528 non-null int64
abtest                371528 non-null object
vehicle_type          333659 non-null object
registration_year     371528 non-null int64
gearbox               351319 non-null object
power_PS              371528 non-null int64
model                 351044 non-null object
kilometer             371528 non-null int64
registration_month    371528 non-null int64
fuel_type             338142 non-null object
brand                 371528 non-null object
unrepaired_damage     299468 non-null object
ad_created            371528 non-null object
nr_of_pictures        371528 non-null int64
postal_code           371528 non-null int64
last_seen             371528 non-null object
dtypes: int64(7), object(13)
memory usage: 56.7+ MB

Cool! now let is look at descriptive statistics for the columns

In [339]:
autos.describe()
autos["price"].unique().shape # 5597 unique values observed
autos["price"].value_counts().sort_index(ascending = True) #about 1/30th is 0
#looking at the value between the 75percentile and max
autos[autos["price"].between(7.200000e+03,2.147484e+09)]["price"].value_counts()
#nothing seriously wrong here

7500      1876
8500      1793
9500      1515
10500     1398
12500     1203
8000      1121
11500     1108
9999      1069
8900      1058
7900      1041
13500      950
9900       904
9000       895
14500      895
10000      886
10900      841
7999       818
11000      788
11900      764
12000      748
13900      742
7800       726
8999       711
12900      711
7200       699
15500      669
16500      656
14900      656
15000      607
13000      594
          ...
109911       1
10791        1
33330        1
14949        1
51899        1
349000       1
33650        1
74630        1
13220        1
15333        1
21480        1
76999        1
23849        1
29996        1
11687        1
19498        1
36275        1
579000       1
7649         1
17898        1
28335        1
21856        1
14180        1
16555        1
57599        1
20777        1
33459        1
21225        1
41911        1
103250       1
Name: price, Length: 3460, dtype: int64

let us look at the date values

In [340]:
autos[["date_crawled", "ad_created", "last_seen"]]
autos["date_crawled"].str[:10].value_counts().sort_index(ascending = True)
autos["ad_created"].str[:10].value_counts().sort_index(ascending = True)
autos["last_seen"].str[:10].value_counts().sort_index(ascending = True)

autos["date_crawled"].str[:10].value_counts(normalize = True, dropna = False).sort_index(ascending = True)
autos["ad_created"].str[:10].value_counts(normalize = True, dropna = False).sort_index(ascending = True)
autos["last_seen"].str[:10].value_counts(normalize = True, dropna = False).sort_index(ascending = True)

2016-03-05    0.001292
2016-03-06    0.004134
2016-03-07    0.005262
2016-03-08    0.008056
2016-03-09    0.009994
2016-03-10    0.011563
2016-03-11    0.013046
2016-03-12    0.023401
2016-03-13    0.008489
2016-03-14    0.012301
2016-03-15    0.016411
2016-03-16    0.016419
2016-03-17    0.028760
2016-03-18    0.006931
2016-03-19    0.016314
2016-03-20    0.019915
2016-03-21    0.020136
2016-03-22    0.020607
2016-03-23    0.018149
2016-03-24    0.019237
2016-03-25    0.019097
2016-03-26    0.016160
2016-03-27    0.016909
2016-03-28    0.022273
2016-03-29    0.023312
2016-03-30    0.023856
2016-03-31    0.024238
2016-04-01    0.024022
2016-04-02    0.025016
2016-04-03    0.025366
2016-04-04    0.025654
2016-04-05    0.126206
2016-04-06    0.217830
2016-04-07    0.129648
Name: last_seen, dtype: float64

Observations
The date crawled is within a month's span 2016-04 to 2016-05. very less than 1% of counts were observed for the last dates 2016-04-06 / 2016-04-07
the ad_created spans 2 years but most values are obseved in the mar-apr of 2016
last seen ranges one month from 2016-03 to 2016-04

lets look at the details of registration year

In [341]:
autos["registration_year"].describe()
# the minimum value is 1000 and the max is 9999
#running counts on the values
autos["registration_year"].value_counts()
autos[autos["registration_year"].between(0, 1900)]["registration_year"].value_counts()
# these are the bad value that we need to remove the bad values
# this gives the boolen series values
bad_years_lower = autos[autos["registration_year"]<1900]
bad_years_upper = autos[autos["registration_year"]>2016]
autos.shape
#(371511, 20)
bad_years_lower.shape
#(68,20)
bad_years_upper.shape
#(14680, 20)

(14680, 20)

Looks like there are registration years below 1900 and aove 2016 ( a car cannot be registered after listing was seen)
Dorping off the bad rows in the dataset

In [342]:
autos_filter = autos[autos["registration_year"].between(1900,2016)]
autos_filter.shape
#(356763, 20) - this gives us the subset that has correct registration years

(356780, 20)

In [343]:
#lets look at the ditributions of the remaining registration years
autos_filter["registration_year"].value_counts(normalize = True).sort_index(ascending =True)

1910    0.000291
1911    0.000003
1915    0.000003
1919    0.000003
1920    0.000003
1923    0.000008
1925    0.000003
1927    0.000006
1928    0.000006
1929    0.000022
1930    0.000014
1931    0.000011
1932    0.000011
1933    0.000017
1934    0.000014
1935    0.000017
1936    0.000020
1937    0.000036
1938    0.000022
1939    0.000011
1940    0.000006
1941    0.000011
1942    0.000008
1943    0.000014
1944    0.000006
1945    0.000014
1946    0.000006
1947    0.000014
1948    0.000011
1949    0.000008
          ...
1987    0.001954
1988    0.002705
1989    0.003761
1990    0.007994
1991    0.007876
1992    0.008543
1993    0.009723
1994    0.013655
1995    0.027070
1996    0.030512
1997    0.041219
1998    0.050314
1999    0.063812
2000    0.068813
2001    0.056668
2002    0.053784
2003    0.055701
2004    0.055345
2005    0.062548
2006    0.056702
2007    0.049535
2008    0.045336
2009    0.043744
2010    0.034626
2011    0.033825
2012    0.026397
2013    0.017257
2014    0.013459
2015    0.008358
2016    0.027633
Name: registration_year, Length: 97, dtype: float64

look like the percentage is more after 1994 and it is left heavy distribution

Lets have a look at the brand columns. We will find out some descriptive statistics for top 20 brands by count

In [344]:
top_brands = autos_filter["brand"].value_counts(ascending = False).head(20).keys()
print(top_brands)

brand_mean_price = {}

#create an empty dictionary to store the mean values 

for brand in top_brands:
    brand_mean_price[brand] = autos_filter.loc[autos_filter["brand"] == brand,"price"].mean()

sorted(brand_mean_price.items(), key = lambda kv:kv[1],reverse = True)

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford', 'renault',
       'peugeot', 'fiat', 'seat', 'skoda', 'mazda', 'smart', 'citroen',
       'nissan', 'toyota', 'sonstige_autos', 'hyundai', 'mini', 'volvo'],
      dtype='object')

[('sonstige_autos', 642492.4772308503),
 ('mercedes_benz', 17614.74929166058),
 ('audi', 16218.259230214248),
 ('bmw', 14798.226103176023),
 ('volkswagen', 13643.476727767),
 ('mini', 9979.38496652465),
 ('citroen', 9167.919797979797),
 ('ford', 8702.476062530532),
 ('skoda', 6460.418046207022),
 ('mazda', 5796.058619430241),
 ('hyundai', 5487.679498146564),
 ('toyota', 5263.365875109938),
 ('volvo', 5100.101627264354),
 ('nissan', 4585.39599256352),
 ('seat', 4420.369038664059),
 ('fiat', 4146.933841131665),
 ('smart', 3586.280802861685),
 ('opel', 3248.27832460733),
 ('peugeot', 3206.2663099596357),
 ('renault', 2366.3506011315417)]

As seen from the above analysis, the  top 3 most listed used car in the classified are german in make. Not a huge surpirse as this is a german classified.The brand feching the most value also belongs to volkswagon group. The one car which is listed more and also fetches more price is mercedes_benz. Ford falls has average listin and price in the top 20 brands

Now we will check if the mean price has any relationship with the mean milage

In [345]:
brand_mean_milage= {}
for brand in top_brands:
    brand_mean_milage[brand] = autos_filter.loc[autos_filter["brand"] == brand,"kilometer"].mean()


print(brand_mean_milage)

{'volkswagen': 128337.16035208573, 'bmw': 132657.07642384444, 'opel': 128755.89005235602, 'mercedes_benz': 130580.6922739886, 'audi': 129491.20110417517, 'ford': 123618.09965803615, 'renault': 127875.7072135785, 'peugeot': 124599.64329296912, 'fiat': 116519.5865070729, 'seat': 120916.20279825485, 'skoda': 113720.21102419501, 'mazda': 125949.59824689555, 'smart': 99684.02225755167, 'citroen': 120296.9696969697, 'nissan': 119543.48275149762, 'toyota': 117337.29111697449, 'sonstige_autos': 86637.27296657015, 'hyundai': 104302.82292557742, 'mini': 93566.64637857578, 'volvo': 138101.01320233344}

in order to put together the milage and the price, we will convert each of these dictionaries as  series 
and then to a dataframe object

In [346]:
milage = pd.DataFrame(pd.Series(brand_mean_milage), columns = ["milage"])

milage["price"] = pd.Series(brand_mean_price)

milage.sort_values("milage", ascending = False)

                       milage          price
volvo           138101.013202    5100.101627
bmw             132657.076424   14798.226103
mercedes_benz   130580.692274   17614.749292
audi            129491.201104   16218.259230
opel            128755.890052    3248.278325
volkswagen      128337.160352   13643.476728
renault         127875.707214    2366.350601
mazda           125949.598247    5796.058619
peugeot         124599.643293    3206.266310
ford            123618.099658    8702.476063
seat            120916.202798    4420.369039
citroen         120296.969697    9167.919798
nissan          119543.482751    4585.395993
toyota          117337.291117    5263.365875
fiat            116519.586507    4146.933841
skoda           113720.211024    6460.418046
hyundai         104302.822926    5487.679498
smart            99684.022258    3586.280803
mini             93566.646379    9979.384967
sonstige_autos   86637.272967  642492.477231

sonstige_autos might have fetched more price as the average milage was less. On the other hand, BMW seems to fetch more despite of high milage. So does audi and volkswagen

In [347]:
autos_filter.head(20)

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_PS,model,kilometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
5,2016-04-04 17:36:23,BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...,privat,Angebot,650,test,limousine,1995,manuell,102,3er,150000,10,benzin,bmw,ja,2016-04-04 00:00:00,0,33775,2016-04-06 19:17:07
6,2016-04-01 20:48:51,Peugeot_206_CC_110_Platinum,privat,Angebot,2200,test,cabrio,2004,manuell,109,2_reihe,150000,8,benzin,peugeot,nein,2016-04-01 00:00:00,0,67112,2016-04-05 18:18:39
7,2016-03-21 18:54:38,VW_Derby_Bj_80__Scheunenfund,privat,Angebot,0,test,limousine,1980,manuell,50,andere,40000,7,benzin,volkswagen,nein,2016-03-21 00:00:00,0,19348,2016-03-25 16:47:58
8,2016-04-04 23:42:13,Ford_C___Max_Titanium_1_0_L_EcoBoost,privat,Angebot,14500,control,bus,2014,manuell,125,c_max,30000,8,benzin,ford,NaN,2016-04-04 00:00:00,0,94505,2016-04-04 23:42:13
9,2016-03-17 10:53:50,VW_Golf_4_5_tuerig_zu_verkaufen_mit_Anhaengerk...,privat,Angebot,999,test,kleinwagen,1998,manuell,101,golf,150000,0,NaN,volkswagen,NaN,2016-03-17 00:00:00,0,27472,2016-03-31 17:17:06
10,2016-03-26 19:54:18,Mazda_3_1.6_Sport,privat,Angebot,2000,control,limousine,2004,manuell,105,3_reihe,150000,12,benzin,mazda,nein,2016-03-26 00:00:00,0,96224,2016-04-06 10:45:34
11,2016-04-07 10:06:22,Volkswagen_Passat_Variant_2.0_TDI_Comfortline,privat,Angebot,2799,control,kombi,2005,manuell,140,passat,150000,12,diesel,volkswagen,ja,2016-04-07 00:00:00,0,57290,2016-04-07 10:25:17
12,2016-03-15 22:49:09,"VW_Passat_Facelift_35i__""7Sitzer""",privat,Angebot,999,control,kombi,1995,manuell,115,passat,150000,11,benzin,volkswagen,NaN,2016-03-15 00:00:00,0,37269,2016-04-01 13:16:16
13,2016-03-21 21:37:40,VW_PASSAT_1.9_TDI_131_PS_LEDER,privat,Angebot,2500,control,kombi,2004,manuell,131,passat,150000,2,NaN,volkswagen,nein,2016-03-21 00:00:00,0,90762,2016-03-23 02:50:54
14,2016-03-21 12:57:01,Nissan_Navara_2.5DPF_SE4x4_Klima_Sitzheizg_Blu...,privat,Angebot,17999,control,suv,2011,manuell,190,navara,70000,3,diesel,nissan,nein,2016-03-21 00:00:00,0,4177,2016-04-06 07:45:42
15,2016-03-11 21:39:15,KA_Lufthansa_Edition_450Â€_VB,privat,Angebot,450,test,kleinwagen,1910,NaN,0,ka,5000,0,benzin,ford,NaN,2016-03-11 00:00:00,0,24148,2016-03-19 08:46:47
16,2016-04-01 12:46:46,Polo_6n_1_4,privat,Angebot,300,test,NaN,2016,NaN,60,polo,150000,0,benzin,volkswagen,NaN,2016-04-01 00:00:00,0,38871,2016-04-01 12:46:46
17,2016-03-20 10:25:19,Renault_Twingo_1.2_16V_Aut.,privat,Angebot,1750,control,kleinwagen,2004,automatik,75,twingo,150000,2,benzin,renault,nein,2016-03-20 00:00:00,0,65599,2016-04-06 13:16:07
18,2016-03-23 15:48:05,Ford_C_MAX_2.0_TDCi_DPF_Titanium,privat,Angebot,7550,test,bus,2007,manuell,136,c_max,150000,6,diesel,ford,nein,2016-03-23 00:00:00,0,88361,2016-04-05 18:45:11
19,2016-04-01 22:55:47,Mercedes_Benz_A_160_Classic_Klima,privat,Angebot,1850,test,bus,2004,manuell,102,a_klasse,150000,1,benzin,mercedes_benz,nein,2016-04-01 00:00:00,0,49565,2016-04-05 22:46:05

We see that some of the categorical values are german. Let us convert them to english. The columns under consideration
are:
seller
off_type
gear_box
vehicle_type
gear_box
unrepaired_damage

Lets take a unrepired_damage to be converted to english. We will use a mapping dictionary to map the values

In [348]:
autos_filter["unrepaired_damage"].unique()

#assigning the Yes or no values 
autos_filter.loc[autos_filter["unrepaired_damage"]=='ja', "unrepaired_damage"] = 'Yes'

autos_filter.loc[autos_filter["unrepaired_damage"]=='nein', "unrepaired_damage"] = 'No'

autos_filter["unrepaired_damage"]

/anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

0         NaN
1         Yes
2         NaN
3          No
4          No
5         Yes
6          No
7          No
8         NaN
9         NaN
10         No
11        Yes
12        NaN
13         No
14         No
15        NaN
16        NaN
17         No
18         No
19         No
20         No
21         No
23         No
24        Yes
25        Yes
27         No
28         No
29         No
30         No
31        NaN
         ...
371498    NaN
371499     No
371500     No
371501     No
371502     No
371503     No
371504    NaN
371505    Yes
371506     No
371507    NaN
371508     No
371509     No
371510     No
371511     No
371512    Yes
371513     No
371514    NaN
371515    NaN
371516     No
371517     No
371518     No
371519     No
371520    Yes
371521     No
371522    Yes
371523    NaN
371524     No
371525     No
371526    NaN
371527     No
Name: unrepaired_damage, Length: 356780, dtype: object

Convert the dates to be uniform numeric data, so "2016-03-21" becomes the integer 20160321. 
The date columsn to be considered are 
"date_crawled"
"ad_created"
"last_seen"

In [355]:
autos_filter["date_crawled"] = autos_filter["date_crawled"].str[:10].str.replace('-', '').astype(int)
autos_filter["ad_created"] = autos_filter["ad_created"].str[:10].str.replace('-', '').astype(int)
autos_filter["last_seen"] = autos_filter["last_seen"].str[:10].str.replace('-', '').astype(int)
# this should comvert the date in required format

0         20160324
1         20160324
2         20160314
3         20160317
4         20160331
5         20160404
6         20160401
7         20160321
8         20160404
9         20160317
10        20160326
11        20160407
12        20160315
13        20160321
14        20160321
15        20160311
16        20160401
17        20160320
18        20160323
19        20160401
20        20160401
21        20160327
23        20160312
24        20160313
25        20160318
27        20160307
28        20160309
29        20160308
30        20160403
31        20160329
            ...
371498    20160311
371499    20160308
371500    20160321
371501    20160326
371502    20160401
371503    20160401
371504    20160307
371505    20160403
371506    20160320
371507    20160316
371508    20160402
371509    20160311
371510    20160306
371511    20160331
371512    20160325
371513    20160321
371514    20160404
371515    20160309
371516    20160404
371517    20160328
371518    20160402
371519    20160309
371520    20160319
371521    20160327
371522    20160321
371523    20160314
371524    20160305
371525    20160319
371526    20160320
371527    20160307
Name: date_crawled, Length: 356780, dtype: int64

Lets us look at the name column to see if there are any keywords that we can extract

array(['Golf_3_1.6', 'A5_Sportback_2.7_Tdi',
       'Jeep_Grand_Cherokee_"Overland"', ...,
       'Smart_smart_leistungssteigerung_100ps', 'VW_Golf_Kombi_1_9l_TDI',
       'BMW_M135i_vollausgestattet_NP_52.720____Euro'], dtype=object)